<div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">City <span data-label-placement="">New York</span> <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>
                <input type="radio" id="ex4_1" name="ex4" value="1" checked="">
                <label for="ex4_1">New York</label>
              </li>
              <li>
                <input type="radio" id="ex4_2" name="ex4" value="2">
                <label for="ex4_2">Moscow</label>
              </li>
              <li>
                <input type="radio" id="ex4_3" name="ex4" value="3">
                <label for="ex4_3">Tokyo</label>
              </li>
              <li>
                <input type="radio" id="ex4_4" name="ex4" value="4">
                <label for="ex4_4">Paris</label>
              </li>
            </ul>
          </div>